---
// importacion de layout y componentes
import Main from "@layouts/Main.astro"
import AboutMe from "@sectionsMain/AboutMe.astro"
import Trabajos from "@sectionsMain/Trabajos.astro"
import Servicios from "@sectionsMain/Servicios.astro"
import ContactoSection from '@sectionsMain/ContactoSection.astro';

import ChatbotEmbed from "@components/react/ChatbotEmbed.jsx" 
// importacion de estilos globales
import ChatbotStyles from '@components/styles/ChatbotStyles.astro'; 
---
<ChatbotStyles />
<Main title="Agencia 17-11" >
  <AboutMe />
	<Trabajos />
  <Servicios />
	<ContactoSection />
  <ChatbotEmbed client:load />
</Main>
