---
import Main from "@layouts/Main.astro"
import AboutMe from "@sectionsMain/AboutMe.astro"
import Trabajos from "@sectionsMain/Trabajos.astro"
import ChatbotEmbed from "@components/react/ChatbotEmbed.jsx" 
import ContactoSection from '@components/Contact/ContactoSection.astro';

import ChatbotStyles from '@components/styles/ChatbotStyles.astro'; 
---
<ChatbotStyles />
<Main>
  <AboutMe />
	<Trabajos />
	<ChatbotEmbed client:load />
	<ContactoSection />
</Main>
