---
import CardProyects from "./CardProyects.astro"
---
<section class="w-full h-1/2 mb-16" id="proyectos" >
    <section class="max-w-screen-md h-auto mt-60 mx-auto">
        <h2 class="text-center text-slate-100 text-5xl font-bold font-mono mb-4 md:text-start" >Proyectos</h2>
        <CardProyects />
    </section>
</section>