---
const { url } = Astro.props
---
<a href={url} target="_blank" >
    <button class="w-32 font-semibold px-4 py-2 bg-custom-bg text-slate-300 rounded-full border-2 border-white mt-8 transition-all hover:text-white hover:scale-110 active:bg-black " id="button_hover">
        <slot />
    </button>
</a>