---
// 1. Definición de la interfaz de TypeScript para un elemento de navegación
interface NavItem {
    url: string;
    text: string;
}

// 2. Definición de la interfaz de las Props para el componente Header
interface Props {
    navItems: NavItem[];
}

const { navItems } = Astro.props;

import { Image } from "astro:assets";
import Logo from "@assets/17-11.png"
---
<header class=" w-full fixed top-2" >
    <div class="h-20 max-w-screen-sm mx-auto px-4 bg-custom-bg bg-opacity-40 border-2 border-slate-700 flex items-center justify-around rounded-full mt-2 " >
        <figure class="h-full py-2 " >
            <a href="/">
                <Image src={Logo} alt="Logotipo de la agencia" class="h-full w-auto rounded-full mx-auto shadow-slate-700 shadow-sm cursor-pointer transition-all hover:scale-110 hover:shadow-slate-400" />
            </a>
        </figure>
        <ul class="text-white text-xs md:text-base flex justify-center items-center flex-wrap gap-4 " >
            {navItems.map((item) => (
                <li class="transition-all hover:scale-105 " >
                    <a href={item.url} class="cursor-pointer hover:text-custom-hover" >
                        {item.text}
                    </a>
                </li>
            ))}
        </ul>
    </div>
</header>