---
import ContactoForm from "@components/common/ContactToForm.astro";
---
<!-- Seccion de contacto -->
<section id="contacto" class="py-16 md:py-24 bg-gray-900">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-5xl font-extrabold text-white text-center mb-4">
            Empecemos tu proyecto
        </h2>
        <p class="text-xl text-gray-400 text-center mb-12 max-w-2xl mx-auto">
            Cuéntanos sobre tu idea. Completa el formulario y un asesor de la Agencia te contactará en menos de 24 horas.
        </p>
        <div class="max-w-lg mx-auto">
            <!-- Componente ContactForm que contiene el formulario que envia los datos a webhook en n8n -->
            <ContactoForm />
        </div>
    </div>
</section>