---
import SEO from "@components/SEO.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
---
<html lang="es">
	<SEO 
		title="Agencia 17-11" 
		description="Una agencia de desarrollo de paginas web estaticas, enfocada y especializada en landing pages, sitios coorporativos, etc." 
		url="https://www.agencia1711.site/" 
		image="../assets/17-11.png"
	/>

	<!-- Google tag (gtag.js) -->
	<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-GWF3MDEL1G"></script>
	<script type="text/partytown" >
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-GWF3MDEL1G');
	</script>

	<body class="bg-page-bg" >
        <Header />
        <main >
            <slot />
        </main>
        <Footer />
	</body>
</html>
