---
// Importaciones de componentes
import SEO from "@components/SEO.astro"
import Header from "@common/Header.astro"
import Footer from "@common/Footer.astro"

interface Props {
    title: string;
}

const { title = "Agencia 17-11" } = Astro.props as Props;

// Contenido del Header dinamico
const headerNavItems = [
    { url: "/#about", text: "Acerca de" },
    { url: "/#proyectos", text: "Proyectos" },
    { url: "/#servicios", text: "Servicios" },
    { url: "/#contacto", text: "Contacto" },
];


---
<!-- Código del layout principal -->
<html lang="es">
	<SEO 
		title={title} 
		description="Una agencia de desarrollo de paginas web estaticas, enfocada y especializada en landing pages, sitios coorporativos, etc." 
		url="https://www.agencia1711.site/" 
		image="../assets/17-11.png"
	/>

	<!-- Google tag (gtag.js) -->
	<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-GWF3MDEL1G" is:inline></script>
	<script type="text/partytown" is:inline >
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-GWF3MDEL1G');
	</script>
	<!-- Cuerpo del codigo central del layout -->
	<body class="bg-page-bg" >
        <Header navItems={headerNavItems} />
        <main >
            <slot />
        </main>
        <Footer />
	</body>
</html>
