---
import SEO from "@components/SEO.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
---
<html lang="es">
	<SEO 
		title="Agencia 17-11" 
		description="Una agencia de desarrollo de paginas web estaticas, enfocada y especializada en landing pages, sitios coorporativos, etc." 
		url="https://www.agencia1711.site/" 
		image="../assets/17-11.png"
	/>
	<body class="bg-page-bg" >
        <Header />
        <main >
            <slot />
        </main>
        <Footer />
	</body>
</html>
